{% extends 'base.html.twig' %}

{% block title %}Modifier le casting {{ casting.role }} {% endblock %}

{% block body %}
    <div class="container-xl bg-light p-5 border-top">

        <a href="{{ path('app_back_casting_browse', {showId: casting.artWork.id}) }}" class="btn btn-primary">Retour à la liste</a>
        <h1>{{ casting.artWork.title }} - {{ casting.role }}</h1>

        {{ form_start(form, {"attr": {"novalidate" : "novalidate"}}) }}
        {{ form_row(form) }}
        <button class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
